# IDE
/.idea/
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# Dependencies
/node_modules/

# Build output
/build/
/dist/
*.zip

# Logs
*.log
/debug.log

# macOS
.DS_Store
*.DS_Store

# Environment
.env
.env.local
.env.*.local

# Electron
/out/
